
<web-app>
    <display-name>X to Watson Web Application</display-name>

    <servlet>
        <servlet-name>LanguageTranslator</servlet-name>
        <servlet-class>com.language.TranslateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageTranslator</servlet-name>
        <url-pattern>/translate</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LanguageDetector</servlet-name>
        <servlet-class>com.language.DetectServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LanguageDetector</servlet-name>
        <url-pattern>/detect</url-pattern>
    </servlet-mapping>

</web-app>
